.ui-growl {
    position: fixed;
    top: 2%;
    right: 1%;
    z-index: 9999 !important;	
}

.ui-growl-title {
    font: 16px "Arial Rounded MT Bold", Monaco, monospace;
}
.ui-growl-message p {
    font: 16px "Arial Rounded MT Bold", Monaco, monospace;
    letter-spacing: -1px;
}

.ui-growl-image {
	width:32px;
	height:32px;
	float:left;
    margin:0;
    padding:0;
    display: block;
    background: src="${facesContext.externalContext.requestContextPath}/resources/imagens/modulos/sisEducar/user-female-36.png";
}