.messages
{			
	list-style:none;
	margin:0 auto;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}
.messagesWarn
{			
	list-style:none;
	margin:0 auto;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #f2dede;
	border-color: #ffff80;
	color: #ffff80;
}

#inputsenhal
{
	size: 220px;
}

.loaderDiv
{
	position:absolute;
	z-index:5;
	width: 85.9%;
	height: 87%;
}

/* =============== Estilos do Data Table =============== */
.order-table{   
	border-collapse:collapse;
}

.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}

.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}

.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}