.ui-tooltip {
    background: #4a4a4a;
    color: #96f226;
    border: 2px solid #454545;
    border-radius: 0px;
    box-shadow: 0 0 
}
.ui-autocomplete {
    background: #FFFFFF;
    border-radius: 0px;
}
.ui-autocomplete.source:hover {
    background: #FFFFFF;
}
.ui-menu .ui-menu-item a{
    background:red;
    height:10px;
	font-size:18px;
}

#descricaoObrigatorio {
	color : red;
	font-size:16px;
}

.botoes {
	margin-right: 5px;
	margin-left: 5px;
}

.campos {
	width: 740px; 
	margin: 0 auto 15px; 
	overflow: hidden; 
}

#mapa { 
	width: 100%; 
  	height: 500px; 
  	border: 1px solid #ccc;
	margin-bottom: 20px;
}

#legendaMapa {
	text-align: center
}
/* =============== Estilos do AutoComplete =============== */
#cidadeAutoComplete {
	size: 100%;
}

/* =============== Estilos do Data Table =============== */
.order-table{   
	border-collapse:collapse;
}

.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}

.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}

.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}

.calendario {
	z-index: 10;
}