<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://java.sun.com/xml/ns/javaee" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		 version="3.0">

  <display-name>SIS-EDUCAR</display-name>

  <!-- JSF --> 
  <servlet> 
  	<servlet-name>Faces Servlet</servlet-name> 
  	<servlet-class>javax.faces.webapp.FacesServlet</servlet-class> 
  	<load-on-startup>1</load-on-startup> 
  </servlet> 

  <!-- Main Sis Educar --> 
  <servlet>
   	<servlet-name>MainSisEducar</servlet-name>
   	<servlet-class>modulos.sisEducar.sisEducarServlet.MainSisEducar</servlet-class>
   	<load-on-startup>2</load-on-startup>
  </servlet>
  	
  <servlet-mapping> 
  	<servlet-name>Faces Servlet</servlet-name> 
  	<url-pattern>*.jsf</url-pattern> 
  	<url-pattern>*.xhtml</url-pattern> 
  </servlet-mapping>
  
  <!-- Filter Authentication -->
  <filter>
   	<filter-name>AuthenticationFilter</filter-name>
   	<filter-class>modulos.sisEducar.utils.AuthenticationFilter</filter-class>
  </filter>
  
  <filter-mapping>
   	<filter-name>AuthenticationFilter</filter-name>
   	<url-pattern>/modulos/*</url-pattern>
   	<url-pattern>/resources/imagens/</url-pattern>
   	<url-pattern>/resources/templates/sisEducar/</url-pattern>
  </filter-mapping>
  
</web-app>