.messages
{			
	list-style:none;
	margin:0 auto;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}
.messagesWarn
{			
	list-style:none;
	margin:0 auto;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #f2dede;
	border-color: #ffff80;
	color: #ffff80;
}

#inputsenhal{
	size: 220px;
}